body {
    position: relative;
}

.marquee {
    /* position: absolute;
    display: inline-block; */
    width: 100px;
    height: 120px;
    border: 1px solid blueviolet;
    border-radius: 4px;
}